<h1>SimplePages#about</h1>
<p>We sell bikes here in Berlin. Need a cool mode of transpartation that doesn't hurt the earth? Hit us up!</p>
<p>We sell mountain bikes, road bikes, and electric bikes! Pick whatever depending on your needs!</p>
<p>The only thing that we ask is please always use a helmet </p>
