<div class="panel panel-default" id="tytemplate">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
    <p>Click <a href="http://localhost:3000">here</a> to go back to the home page! </p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
