.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/raty.eot");
  src: url("./fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("./fonts/raty.svg#raty") format("svg");
  src: url("./fonts/raty.ttf") format("truetype");
  src: url("./fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
/*

 */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(/assets/bootstrap/glyphiconshalflings-regular-fdf01160e744e3ffb9cb1a71b97eec3a5564f590258f17e0caa2d1d7735841cb.eot);
  src: url(/assets/bootstrap/glyphiconshalflings-regular-fdf01160e744e3ffb9cb1a71b97eec3a5564f590258f17e0caa2d1d7735841cb.eot?#iefix) format("embedded-opentype"), url(/assets/bootstrap/glyphiconshalflings-regular-964ed0e1a845d8335aca2c7e0b6f007bdbd00acf1f8a19935c4a3a0cf55c08cf.woff) format("woff"), url(/assets/bootstrap/glyphiconshalflings-regular-9ffb2c62ba9a65f5f9588dc20982205649f3318b75eea919390d31a03380246e.ttf) format("truetype"), url(/assets/bootstrap/glyphiconshalflings-regular-3f9d496045d4e1cc937fac96667dad0adb62002cba30effddaee9a2a0093b235.svg#glyphicons_halflingsregular) format("svg");
}
/* line 34, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon:before {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 43, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-glass:before {
  content: "\e001";
}

/* line 44, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-music:before {
  content: "\e002";
}

/* line 45, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-search:before {
  content: "\e003";
}

/* line 46, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-envelope:before {
  content: "\2709";
}

/* line 47, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-heart:before {
  content: "\e005";
}

/* line 48, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-star:before {
  content: "\e006";
}

/* line 49, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-star-empty:before {
  content: "\e007";
}

/* line 50, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-user:before {
  content: "\e008";
}

/* line 51, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-film:before {
  content: "\e009";
}

/* line 52, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-th-large:before {
  content: "\e010";
}

/* line 53, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-th:before {
  content: "\e011";
}

/* line 54, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-th-list:before {
  content: "\e012";
}

/* line 55, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-ok:before {
  content: "\e013";
}

/* line 56, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-remove:before {
  content: "\e014";
}

/* line 57, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-zoom-in:before {
  content: "\e015";
}

/* line 58, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-zoom-out:before {
  content: "\e016";
}

/* line 59, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-off:before {
  content: "\e017";
}

/* line 60, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-signal:before {
  content: "\e018";
}

/* line 61, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-cog:before {
  content: "\e019";
}

/* line 62, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-trash:before {
  content: "\e020";
}

/* line 63, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-home:before {
  content: "\e021";
}

/* line 64, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-file:before {
  content: "\e022";
}

/* line 65, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-time:before {
  content: "\e023";
}

/* line 66, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-road:before {
  content: "\e024";
}

/* line 67, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-download-alt:before {
  content: "\e025";
}

/* line 68, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-download:before {
  content: "\e026";
}

/* line 69, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-upload:before {
  content: "\e027";
}

/* line 70, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-inbox:before {
  content: "\e028";
}

/* line 71, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-play-circle:before {
  content: "\e029";
}

/* line 72, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-repeat:before {
  content: "\e030";
}

/* line 73, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-refresh:before {
  content: "\e031";
}

/* line 74, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-list-alt:before {
  content: "\e032";
}

/* line 75, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-lock:before {
  content: "\e033";
}

/* line 76, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-flag:before {
  content: "\e034";
}

/* line 77, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-headphones:before {
  content: "\e035";
}

/* line 78, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-volume-off:before {
  content: "\e036";
}

/* line 79, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-volume-down:before {
  content: "\e037";
}

/* line 80, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-volume-up:before {
  content: "\e038";
}

/* line 81, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-qrcode:before {
  content: "\e039";
}

/* line 82, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-barcode:before {
  content: "\e040";
}

/* line 83, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-tag:before {
  content: "\e041";
}

/* line 84, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-tags:before {
  content: "\e042";
}

/* line 85, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-book:before {
  content: "\e043";
}

/* line 86, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-bookmark:before {
  content: "\e044";
}

/* line 87, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-print:before {
  content: "\e045";
}

/* line 88, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-camera:before {
  content: "\e046";
}

/* line 89, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-font:before {
  content: "\e047";
}

/* line 90, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-bold:before {
  content: "\e048";
}

/* line 91, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-italic:before {
  content: "\e049";
}

/* line 92, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-text-height:before {
  content: "\e050";
}

/* line 93, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-text-width:before {
  content: "\e051";
}

/* line 94, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-align-left:before {
  content: "\e052";
}

/* line 95, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-align-center:before {
  content: "\e053";
}

/* line 96, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-align-right:before {
  content: "\e054";
}

/* line 97, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-align-justify:before {
  content: "\e055";
}

/* line 98, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-list:before {
  content: "\e056";
}

/* line 99, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-indent-left:before {
  content: "\e057";
}

/* line 100, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-indent-right:before {
  content: "\e058";
}

/* line 101, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-facetime-video:before {
  content: "\e059";
}

/* line 102, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-picture:before {
  content: "\e060";
}

/* line 103, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-pencil:before {
  content: "\270f";
}

/* line 104, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-map-marker:before {
  content: "\e062";
}

/* line 105, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-adjust:before {
  content: "\e063";
}

/* line 106, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-tint:before {
  content: "\e064";
}

/* line 107, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-edit:before {
  content: "\e065";
}

/* line 108, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-share:before {
  content: "\e066";
}

/* line 109, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-check:before {
  content: "\e067";
}

/* line 110, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-move:before {
  content: "\e068";
}

/* line 111, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-step-backward:before {
  content: "\e069";
}

/* line 112, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-fast-backward:before {
  content: "\e070";
}

/* line 113, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-backward:before {
  content: "\e071";
}

/* line 114, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-play:before {
  content: "\e072";
}

/* line 115, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-pause:before {
  content: "\e073";
}

/* line 116, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-stop:before {
  content: "\e074";
}

/* line 117, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-forward:before {
  content: "\e075";
}

/* line 118, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-fast-forward:before {
  content: "\e076";
}

/* line 119, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-step-forward:before {
  content: "\e077";
}

/* line 120, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-eject:before {
  content: "\e078";
}

/* line 121, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-chevron-left:before {
  content: "\e079";
}

/* line 122, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-chevron-right:before {
  content: "\e080";
}

/* line 123, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-plus-sign:before {
  content: "\e081";
}

/* line 124, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-minus-sign:before {
  content: "\e082";
}

/* line 125, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-remove-sign:before {
  content: "\e083";
}

/* line 126, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-ok-sign:before {
  content: "\e084";
}

/* line 127, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-question-sign:before {
  content: "\e085";
}

/* line 128, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-info-sign:before {
  content: "\e086";
}

/* line 129, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-screenshot:before {
  content: "\e087";
}

/* line 130, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-remove-circle:before {
  content: "\e088";
}

/* line 131, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-ok-circle:before {
  content: "\e089";
}

/* line 132, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-ban-circle:before {
  content: "\e090";
}

/* line 133, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-arrow-left:before {
  content: "\e091";
}

/* line 134, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-arrow-right:before {
  content: "\e092";
}

/* line 135, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-arrow-up:before {
  content: "\e093";
}

/* line 136, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-arrow-down:before {
  content: "\e094";
}

/* line 137, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-share-alt:before {
  content: "\e095";
}

/* line 138, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-resize-full:before {
  content: "\e096";
}

/* line 139, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-resize-small:before {
  content: "\e097";
}

/* line 140, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-plus:before {
  content: "\002b";
}

/* line 141, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-minus:before {
  content: "\2212";
}

/* line 142, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-asterisk:before {
  content: "\002a";
}

/* line 143, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-exclamation-sign:before {
  content: "\e101";
}

/* line 144, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-gift:before {
  content: "\e102";
}

/* line 145, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-leaf:before {
  content: "\e103";
}

/* line 146, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-fire:before {
  content: "\e104";
}

/* line 147, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-eye-open:before {
  content: "\e105";
}

/* line 148, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-eye-close:before {
  content: "\e106";
}

/* line 149, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-warning-sign:before {
  content: "\e107";
}

/* line 150, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-plane:before {
  content: "\e108";
}

/* line 151, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-calendar:before {
  content: "\e109";
}

/* line 152, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-random:before {
  content: "\e110";
}

/* line 153, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-comment:before {
  content: "\e111";
}

/* line 154, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-magnet:before {
  content: "\e112";
}

/* line 155, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-chevron-up:before {
  content: "\e113";
}

/* line 156, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-chevron-down:before {
  content: "\e114";
}

/* line 157, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-retweet:before {
  content: "\e115";
}

/* line 158, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-shopping-cart:before {
  content: "\e116";
}

/* line 159, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-folder-close:before {
  content: "\e117";
}

/* line 160, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-folder-open:before {
  content: "\e118";
}

/* line 161, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-resize-vertical:before {
  content: "\e119";
}

/* line 162, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-resize-horizontal:before {
  content: "\e120";
}

/* line 163, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-hdd:before {
  content: "\e121";
}

/* line 164, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-bullhorn:before {
  content: "\e122";
}

/* line 165, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-bell:before {
  content: "\e123";
}

/* line 166, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-certificate:before {
  content: "\e124";
}

/* line 167, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-thumbs-up:before {
  content: "\e125";
}

/* line 168, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-thumbs-down:before {
  content: "\e126";
}

/* line 169, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-hand-right:before {
  content: "\e127";
}

/* line 170, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-hand-left:before {
  content: "\e128";
}

/* line 171, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-hand-up:before {
  content: "\e129";
}

/* line 172, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-hand-down:before {
  content: "\e130";
}

/* line 173, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}

/* line 174, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}

/* line 175, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}

/* line 176, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}

/* line 177, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-globe:before {
  content: "\e135";
}

/* line 178, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-wrench:before {
  content: "\e136";
}

/* line 179, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-tasks:before {
  content: "\e137";
}

/* line 180, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-filter:before {
  content: "\e138";
}

/* line 181, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-briefcase:before {
  content: "\e139";
}

/* line 182, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-fullscreen:before {
  content: "\e140";
}

/* line 183, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-dashboard:before {
  content: "\e141";
}

/* line 184, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-paperclip:before {
  content: "\e142";
}

/* line 185, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-heart-empty:before {
  content: "\e143";
}

/* line 186, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-link:before {
  content: "\e144";
}

/* line 187, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-phone:before {
  content: "\e145";
}

/* line 188, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-pushpin:before {
  content: "\e146";
}

/* line 189, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-euro:before {
  content: "\20ac";
}

/* line 190, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-usd:before {
  content: "\e148";
}

/* line 191, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-gbp:before {
  content: "\e149";
}

/* line 192, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-sort:before {
  content: "\e150";
}

/* line 193, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}

/* line 194, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}

/* line 195, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-sort-by-order:before {
  content: "\e153";
}

/* line 196, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}

/* line 197, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}

/* line 198, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}

/* line 199, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-unchecked:before {
  content: "\e157";
}

/* line 200, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-expand:before {
  content: "\e158";
}

/* line 201, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-collapse:before {
  content: "\e159";
}

/* line 202, /Users/shandamckinney/.rvm/gems/ruby-2.5.1/gems/bootstrap-glyphicons-0.0.1/app/assets/stylesheets/bootstrap/glyphicons.scss */
.glyphicon-collapse-top:before {
  content: "\e160";
}

/* line 8, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
body {
  background-color: white;
  height: 100%;
}

/* NAVBAR */
/* line 14, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.navbar-default {
  background-color: #574B60;
  border-color: #E7E7E7;
}

/* line 19, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.navbar-default .navbar-brand {
  color: #EAF0CE;
  font-family: 'Poppins', sans-serif;
}

/* line 24, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
a.nav-item.nav-link.active {
  color: #EAF0CE;
}

/* line 28, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
a.nav-item.nav-link {
  color: #EAF0CE;
}

/* line 32, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.navbar-toggler {
  background-color: white;
}

/* line 36, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.navbar-toggler-icon {
  color: #EAF0CE;
  margin-top: 10%;
  margin-bottom: -15%;
}

/* line 42, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.searchform {
  margin-right: 4%;
  margin-bottom: 1%;
}

/* line 46, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
a.navbar-brand {
  font-size: 2.25em;
}

/* line 49, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.nav-link {
  font-size: 1.1em;
}

/* line 52, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
p.notice {
  text-align: center;
}

/* HEADER */
/* line 56, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
header.site-header {
  background-color: black;
}

/* line 59, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.upper-site-header {
  background-color: black;
}

/* line 62, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#headerbike {
  height: 50%;
  width: 50%;
  padding-left: 30%;
  margin-left: 10%;
  margin-bottom: -3%;
}

/* line 69, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#berlinheader {
  font-size: 3em;
  padding-left: 41%;
  color: #7c7c7c;
}

/* line 74, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#stickynav {
  background-color: black;
  color: white;
  margin-top: -2%;
  margin-bottom: -2%;
  font-size: 1.25em;
  font-weight: 600;
}

/* line 82, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
ul {
  padding: 0;
  list-style: none;
}

/* line 87, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
li {
  margin: auto;
}

/* line 91, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
a {
  color: black;
}

/* line 95, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.twitter {
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
}

/* FRONT PAGE */
/* line 102, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#featuredtitle {
  font-size: 4em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
}

/* line 110, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
div.carousel-item {
  padding-left: 11%;
}

/* line 113, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.carousel-caption {
  font-size: 3em;
  color: white;
  padding-top: 5%;
  padding-right: 20%;
}

/* line 120, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#mainpic {
  margin-left: 22%;
}

/* line 124, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#bikeneeds {
  margin-left: 27%;
  padding-bottom: 3%;
}

/* line 129, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#currenttime {
  margin-left: 33%;
  font-size: 2em;
}

/* FOOTER */
/* line 135, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
footer {
  background-color: black;
  color: white;
  margin-top: 20%;
}

/*ABOUT PAGE */
/* line 143, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#aboutwelcome {
  font-size: 3em;
  text-align: center;
  padding-bottom: 3%;
}

/* line 150, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#storyquote {
  text-align: center;
}

/* line 154, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* CONTACT PAGE */
/* line 162, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#bluelinestory {
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
}

/* line 167, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#contacttitle {
  text-align: center;
  font-size: 4em;
  padding-top: 2%;
}

/* line 173, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.form-group {
  background-color: white;
  display: inline;
}

/* line 178, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#contactrow {
  display: inline;
  background-color: #574B60;
}

/* line 183, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.contactcontainer {
  width: auto;
  height: 100%;
  border: 5px;
}

/* line 188, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.form-label {
  background-color: white;
}

/* line 192, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#tytemplate {
  background-color: #7D8491;
  margin: 5%;
  text-align: center;
}

/* ORDERS */
/* line 200, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#orderstitle {
  text-align: center;
  font-size: 4em;
}

/* line 205, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#orderoverallnum {
  text-align: center;
  font-size: 2.5em;
}

/* line 209, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#smallerorderinfo {
  text-align: center;
}

/* line 212, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#smallerordernum {
  font-size: 1em;
}

/* PRODUCTS */
/* line 217, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#producttitle {
  font-size: 3em;
  text-align: center;
  letter-spacing: 2px;
}

/* line 222, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#productdescription {
  padding-bottom: 10%;
  margin-top: -7%;
}

/* line 227, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#overview {
  font-size: 2em;
  font-weight: 300;
}

/* line 231, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.container.show {
  margin-top: -7%;
  margin-left: 0;
  margin-right: -5%;
}

/* line 238, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#overview {
  margin-top: 3%;
}

/* line 243, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#newproducts {
  margin-left: 41%;
}

/* line 247, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
form {
  margin-top: 0%;
  text-align: center;
  color: white;
}

/* line 253, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
label {
  display: block;
}

/* line 256, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
input.form_label.btn-lg {
  margin-bottom: 5%;
}

/* line 259, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.form-control {
  width: 20%;
  color: black;
  text-align: center;
  margin-left: 40%;
}

/* line 265, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.actions {
  padding-top: 5%;
  padding-bottom: 5%;
}

/* line 270, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.averagerating {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* line 276, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.newcomments {
  padding-top: 5%;
  margin-left: 5%;
}

/* line 281, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.oldcomments {
  padding-top: 10%;
  align-items: left;
}

/* line 288, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
form#new_comment.new_comment {
  width: 50%;
  height: auto;
}

/* line 292, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
button.stripe-button-el {
  margin-top: 2%;
  margin-left: -62%;
}

/* line 296, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#timeandname {
  padding-bottom: 5%;
}

/* line 300, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.column {
  float: left;
}

/* line 305, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.left {
  width: 50%;
  padding-right: 5%;
  padding-top: 2%;
}

/* line 311, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.right {
  width: 50%;
  padding-left: 5%;
  text-align: center;
}

/* line 317, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
em {
  font-size: .25em;
  margin-right: 10%;
}

/* line 322, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#rating {
  margin-right: 5%;
}

/* line 326, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#commentbody {
  margin-right: 5%;
}

/* line 330, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
div.rated {
  margin-right: 5%;
}

/* line 334, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.wholecomment {
  padding-bottom: 5%;
}

/* Sign up and Sign in forms */
/* line 340, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
input {
  border-radius: 6px;
}

/* line 344, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
.form-group {
  background-color: black;
}

/* line 348, /Users/shandamckinney/Desktop/firstproject/app/assets/stylesheets/application.scss */
#signup, #login, #forgotpassword, #changepassword {
  text-align: center;
  font-size: 3em;
  padding-bottom: 5%;
}
