body {
  background-color: #C0C5C1;
}

.navbar-default {
    background-color: #574B60;
    border-color: #E7E7E7;
}

.navbar-default .navbar-brand {
    color: #EAF0CE;
    font-family: 'Poppins', sans-serif;
}

a.nav-item.nav-link.active {
  color:#EAF0CE;
}

a.nav-item.nav-link {
  color:#EAF0CE;
}

.navbar-toggler {
  background-color: #3F334D;
}

.navbar-toggler-icon {
  color: #EAF0CE;
  margin-top: 10%;
  margin-bottom: -15%;

}

#featuredtitle {
  font-size: 5em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

div.carousel-item {
  padding-left: 15%;
}

footer {
  background-color: #574B60;
}


#aboutwelcome {
  font-size: 3em;
  text-align:center;
  padding-bottom: 3%;

}

#storyquote {
  text-align: center;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#bluelinestory {
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
}

#contactcolumns {
  padding: 5%;
  padding-left: 10%;
}

#contactinfo {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 12%;
}

#googlemap {
  padding-left: 2%;
  padding-right: 5%;
}
