body {
  background-color: #C0C5C1;
}

/* NAVBAR */
.navbar-default {
    background-color: #574B60;
    border-color: #E7E7E7;
}

.navbar-default .navbar-brand {
    color: #EAF0CE;
    font-family: 'Poppins', sans-serif;
}

a.nav-item.nav-link.active {
  color:#EAF0CE;
}

a.nav-item.nav-link {
  color:#EAF0CE;
}

.navbar-toggler {
  background-color: #3F334D;
}

.navbar-toggler-icon {
  color: #EAF0CE;
  margin-top: 10%;
  margin-bottom: -15%;

}
/* HEADER */
header.site-header{
  background-color: black;
}
.upper-site-header {
  background-color: black;
}
#headerbike {
  height: 50%;
  width: 50%;
  padding-left: 30%;
  margin-left: 10%;
}
#berlinheader {
  font-size:2em;
  padding-left: 44%;
  color: #7c7c7c;
}
#stickynav {
  background-color:black;
  color: white;
}
ul {
  padding: 0;
  list-style: none;
}

li{
  margin: auto;
}

a {
  color: white;
}

.twitter {
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
}

/* FRONT PAGE */
#featuredtitle {
  font-size: 4em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
}

div.carousel-item {
  padding-left: 11%;
}
.carousel-caption {
  font-size: 3em;
  color: white;
  padding-top: 5%;
  padding-right: 20%;
}

#mainpic {
  margin-left: 22%;
}

#bikeneeds {
  margin-left: 27%;
  padding-top:3%;
  padding-bottom: 3%;
}

#currenttime{
  margin-left: 33%;
  font-size: 2em;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
  margin-top: 6%;
}

/*ABOUT PAGE */
#aboutwelcome {
  font-size: 3em;
  text-align:center;
  padding-bottom: 3%;

}

#storyquote {
  text-align: center;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* CONTACT PAGE */
#bluelinestory {
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
}

#contactcolumns {
  padding: 5%;
  padding-left: 10%;
}

#contactinfo {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 12%;
}

#googlemap {
  padding-left: 2%;
  padding-right: 5%;
}

/* ORDERS */
#orderstitle {
  text-align: center;
  font-size: 4em;
}

#orderoverallnum {
  text-align: center;
  font-size: 2.5em;
}
#smallerorderinfo {
  text-align: center;
}
#smallerordernum {
  font-size: 1em;

}
/* PRODUCTS */
#producttitle {
  padding-left: 40%;
  font-size: 4em;
}
