h1 {
  font-size: 5em;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 3em;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 2em;
  font-family: sans-serif;
  text-align: center;
}

footer {
  text-align: left;
}

.main-pic {
  padding-left: 10%;
}

.second-pic {
  padding-left: 10%;
}

.product_header {
  font-size: 3em;
}

.prices {
  text-align: center;
}
