h1 {
  font-size: 5em;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
}

footer {
  text-align: center;
}

.main-pic {
  padding-left: 10%;
}
